
@media screen and (max-width: 1200px) {

    .nav-default-screen {
        display: none;
        text-align: center;
        margin-top: 6rem;

    }

    .navitem {
        width: 100%;
        padding: 1.5rem 0;
        font-size: 2rem;
    }
    
    .nav-sm-screen {
        display: block;
        float: right;
    }

    .nav-default-screen.active {
        display: block;
    }

    .header-bgimg__right {
        width: 40%;
        height:50%;
    }

    .hero__info__h1--decor {
        display: none;
    }

    .hero__img img {
        width: 90%;
    }
    .hero__info__p {
        padding-right: 0;
    }

    .hero__info__p, .hero__info__btns {
        width:150% ;
    }
    .hero__info__h1 {
        width: 132%;
    }

    .category__cards--card {
        width: 50%;
    }

    .category__header--plusdecor {
        opacity: 0.7;
        z-index: -1;
    }

    .destination__cards--card {
        width: 100%;
    }

    .destination__cards--card--content3_decor {
        display: none;
    }

    .bookings__right {
        width: 100%;
    }

    .bookings__left {
        width: 100%;
    }

    .bookings__subhead, .booking__left__steps, .bookings__head {
        padding-right: 0;
    }

    .testimonial_left {
        width: 100%;
    }

    .testimonial_right {
        width: 100%;
    }

    .pagination_dots {
        padding-top: 2rem;
        padding-bottom: 5rem;
    }

    .testimonial_right_section_left {
        width: 80%;
    }

    .arrows {
        width: 20%;
    }

    .brand {
        width: 33%;
        }

    .subs_bg_decor {
        display: none;
    }
    .subs_box_head {
        font-size: 1.875rem;
    }

    .subs_box {
        padding-bottom: 3rem;
    }

    .footer_row {
        width: 33%;
        padding-bottom: 5rem;
    }

}

@media screen and (max-width: 576px) {
    .header-bgimg__right {
            width: 60%;
            height: 57%;
            position: absolute;
            top: 0;
            right:0% ;
        }

    .hero__img {
        width: 100%;
        margin-top: 2rem;
    }

    .hero__info--btn1 {
        margin-bottom: 2rem;
        margin-left: 9%;
    }

    .hero__info--btn2 img{
        padding-left: 0;
    }

    .hero__info__btns {
        width: 120%;
    }
    .hero__info--btn-trns {
        float: left;
    }

    .hero__info__btns {
        padding: 1rem 0;
    }

    .category__cards--card {
        width: 100%;
    }

    .category__header--plusdecor {
        opacity: 0.7;
        z-index: -1;
    }

    .boolings__right__card--float_card {
        display: none;
    }

    .boolings__right__card {
        margin-top: 3rem;
        margin-bottom: 13rem;
    }

    .bookings__head {
        font-size: 2.125rem;
        line-height: 3rem;
    }

    .step_img img {
        padding-bottom: 2rem;
    }

    .hero__info__h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .testimonial_right_section_left {
        width: 95%;
    }

    .arrows {
        width: 5%;
    }

    .testimonial__card_bg {
        display: none;
    }

    .brand {
        width: 50%;
    }

    .brand .brand_sm_height {
        padding-bottom: 4rem;
        }
    .subs_box_head {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.2rem;
    }
    .subs-form input {
        width: 100%;
    }
    .btn-submit {
        padding: 1.250rem 3rem;
        font-weight: 500;
        font-size: 14px;
    }

    .subs_box {
        border-radius: 20px 20px 20px 20px;
    
    }

    .footer_row {
        width: 50%;
    }
}