
nav {
    padding-top: 2.75rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo--icon {
    width: 4.1875rem;
}

.logo--text {
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.04em;
    color: #113C49;
    position: relative;
    font-size: 1.5rem;
    top: 0rem;
    right: 42px;
}

#toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    cursor: pointer;
}

.navlist{
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.navlist.active {
    display: flex;
}

 .hero {
     width: 100%;
     display: flex;
     padding: 3rem 0;
     flex-flow: column;
 }

 .hero_img {
     width: 100%;
     display: flex;
     justify-content: center;
     padding-bottom: 5rem;
 }

 .hero_img img {
     width: 80%;
 }

 .hero_info {
     justify-content: center;
 }

 .hero_info--p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #464646;
    width: 80%;
    margin-right: auto;
 }

 .hero_info--btns-2 img {
     width: 2rem;
     padding-right: 1%;
 }

 .btn-2 {
     display: flex;
     margin-top: 3rem;
 }

 .brands__logo_sectin {
     display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
     
 }

 .brands__heading {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #696984;
    text-align: center;
}

.brands__logo_item img{
    margin-bottom: 3rem;
    width: 50%;
    margin-left: 20%;
}

.features {
    padding: 3rem 0;
}

.features__cards {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3rem 0;
    flex-wrap: wrap;
}

.features__cards--card {
    padding: 0 1.3125rem;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
    border-radius: 20px;
    margin: 3.5rem 0;
}

.features__cards--card:hover {
    box-shadow: 0px 10px 60px rgb(38 45 118 / 23%);
}

.features__cards--card--icon {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
}

.features__Card--heading {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 45px;
    text-align: center;
    color: #2F327D;
    margin-bottom: 24px;
}

.features__card--p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}


.feature_icon {
    display: flex;
    justify-content: center;
}


.what_img_section {
    display: flex;
    flex-wrap: wrap;
}

.what_img_section {
    padding: 3rem 0;
    width: 100%;
    justify-content: center;
}

.what_img_section--left {
    width: 80%;
}

.what_img_section--card {
    margin-bottom: 10rem;
}

.what_img_section--card img {
    width: 100%;
    border-radius: 20px;
}

.what_img_section--card-content{
    width: 55%;
    margin: 0 auto;
    position: relative;
    top: -12rem;
    margin-bottom: -15rem;
}

.what_img_section--card--head {
    font-weight: 600;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.what_img_section--btn {
    padding: 22px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 80px;
    color: #FFFFFF;
    line-height: 4rem;
}

.what_img_section--btn2 {
    background-color: rgba(35, 189, 238, 0.9);
    border: 1px solid rgba(35, 189, 238, 0.9);
}

.what_can_section__info--cir-big {
    position: absolute;
    top: 5rem;
    z-index: -1;
}

.what_can_section__info--cir-sm {
    position: absolute;
    right: 0;
    top: 70%;
    z-index: -1;
}

.what_can_section__info {
    padding: 3rem 0;
    position: relative;
}

.what_can_section__img {
    position: relative;
}

.what_can_section__img--img {
    width: 86%;
    margin: 0 7% 0;
    border-radius: 20px;
}

.what_can_section__img--top_Corner {
    position: absolute;
    z-index: -1;
    top: -1rem;
    left: 4%;
    width: 20%;
}

.what_can_section__img--bottom_Corner {
    position: absolute;
    z-index: -1;
    width: 20%;
    right: 3%;
    bottom: -0.8rem;
}

.what_can_section__img--play_btn {
    position: absolute;
    width: 10%;
    top: 40%;
    left: 46%;
}

.our_features {
    padding-top: 5rem;
}

.our_features__img_section--img {
    width: 100%;
    padding: 3rem 0;
}

.tools{
    padding-top: 5rem;
}

.tools_img_section--img {
    width: 100%;
}

.centered-btn {
    text-align: center;
    padding: 5rem 0 ;
}
 
.see_more--btn{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #F48C06;
    padding: 1.1875rem 2.375rem;
    border: 1px solid #F48C06;
    border-radius: 80px;
}

.see_more--btn:hover {
    color: #FFFFFF;
    background-color: #F48C06;
    border: 1px solid #FFFFFF;
    transition: 0.3s;
}

.platform {
    padding: 5rem 0;
}

.testimonial_cards__card {
    padding: 10px 25px;
    background: #FFFFFF;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
    border-radius: 20px;
    width: 80%;
    margin: 0 10%;
    position: relative;
    top: -10rem;
}

.testimonial_cards__card:hover, .review-img:hover {
    box-shadow: 0px 10px 60px rgb(38 45 118 / 23%);
}

.tcc-p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    color: #5F5F7E;
}

.user-rating span{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 180%;
    color: #5F5F7E;
} 

.rating {
    padding: 1rem 0;
}

.rating p {
    font-size: 0.6rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #80819A;
}

.review {
    position: relative;
}

.testimonial-arrow {
    width: 80px;
    position: relative;
    top: -10rem;
    left: 68%;
}

.testimonial_cards {
    margin-bottom: -12rem;
}

.news_heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 180%;
    color: #2F327D;
    padding-bottom: 20px;
    text-align: center;
}

.news_subheading {
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    text-align: center;

    color: #696984;
    padding-bottom: 5rem;
}

.news_main_imgsec--img {
    width: 100%;
}

.news_section--btn {
    background-color: #F4C467;
    border-radius: 80px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    padding: 2px 35px;
    color: #252641;
}


.news_main--heading {
    font-style: normal;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 180%;
    color: #252641;
}

.news_section--p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}

.read_more_link {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #696984;
}

.news_list--img {
    position: relative;
    width: 40%;
}


.news_list--img img {
    width: 100%;
}



.news_list--info {
    width: 60%;
    padding-left: 1rem;
}

.news_list--item {
    display: flex;
    margin-bottom: 2rem;
}

.sec1-h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

footer {
    background-color: #252641;
    padding-top:80px ;
    padding-bottom: 40px;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo--text--footer{
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-right: -3rem;
}

.footer_main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.footer_logo {
    width: auto;
}

.vert-line {
    padding: 1rem;
}

.sec2_head {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #B2B3CF;
}

.subs_input {
    border: 1px solid #83839A;
    border-radius: 80px;
    background-color: transparent;
    height: 2rem;
    color: #83839A;
}

.subs_input::placeholder {
    columns: #83839A;
    padding-left: 2rem;
}

.subs-btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 33px;
    color: #FFFFFF;
    padding: 5px 14px;
    background-color: rgb(81 87 228);
    border-radius: 60px;;
    margin-left: 0.5rem;
}

.sec3 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.sec4 {
    display: flex;
    justify-content: center;
}

.sec4 h3 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #B2B3CF;
    padding-right: 4px;
    margin-top: 0;
}

.sec5 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.04em;
    text-align: center;
    color: #B2B3CF;
}

.testimonial_info {
    padding-top: 7rem;
}