
/* tab view  */
@media screen and (min-width: 576px) {
    .navlist {
        display: none;
    }

    #toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 70%;
    }
    .hero_info--btns{
        display: block;
    }

    .hero_info--btns-1{
        float: left;
    }

    .btn-2 {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .hero_info--btns-1 {
        margin-right: 3rem;
    } 

    .what_img_section--card--head {
        font-size: 1.9rem;
        margin-bottom: 2rem;;
    }

    .what_img_section--btn {
        padding: 24px 38px;
        font-size: 1.375rem;
    }

    .what_img_section--card-content {
        top: -17rem;
    }

    .what_can_section__info--head {
        font-size: 2.75rem;
    }

}


/* desktop view  */
@media screen and (min-width: 1199px) {
    .logo {
            display: flex;
            align-items: center;
            width: 30%;
        }

    .logo--icon {
        width: 5.1875rem;
    }

    .logo--text {
        font-size: 2rem;
    }


    .navlist {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        flex-flow: row;
    }

    nav {
        flex-flow: row;
    }
    
    #toggle {
        display: none;
    }

    .hero {
        flex-flow: row-reverse;
    }

    nav {
        padding-top: 1rem;
    }
    .hero_info {
        width: 100%;
    }
    .hero_info--heading {
        font-size: 3.375rem;
    }

    .features__cards {
        flex-flow: row;
        justify-content: space-evenly;
    }

    .features__cards--card{
        margin: 0 3%;
    }

    .what_img_section--card img {
        width: 90%;
        margin: 0 auto;
    }

    .features__subheading , .what__subheading {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 3rem;
    }

    .what_img_section{
        justify-content: end;
    }

    .what_can_section {
        display: flex;
    }

    .what_can_section__img--bottom_Corner {
        right: 0%;
    }

    .what_can_section__info {
        width: 50%;
    }

    .what_can_section__img {
        width: 50%;
    }

    .what_can_section__img--img {
        width: 90%;
    }

    .what_can_section__info--head {
        margin-top: 0;
        font-size: 2.25rem;
    }

    .what_can_section__info--cir-big{
        top:2.5rem
    }
    .what_can_section__img--play_btn {
        width: 8%;
        left: 47%;
    }

    
}