
/* tab view  */
@media screen and (min-width: 576px) {
    .navlist {
        display: none;
    }

    #toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 70%;
    }
    .hero_info--btns{
        display: block;
    }

    .hero_info--btns-1{
        float: left;
    }

    .btn-2 {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .hero_info--btns-1 {
        margin-right: 3rem;
    } 

    .what_img_section--card--head {
        font-size: 1.9rem;
        margin-bottom: 2rem;;
    }

    .what_img_section--btn {
        padding: 24px 38px;
        font-size: 1.375rem;
    }

    .what_img_section--card-content {
        top: -17rem;
    }

    .what_can_section__info--head {
        font-size: 2.75rem;
    } 

    .our_features--info--heading {
        font-size: 2.25rem;
    }
    .feat--p {
        font-size: 1.25rem;
    }

    .testimonial-arrow{
        width: 10rem;
        top: -25rem;
    }

    .testimonial_cards__card {
        top: -15rem;
    }
}


/* desktop view  */
@media screen and (min-width: 1199px) {
    .logo {
            display: flex;
            align-items: center;
            width: 30%;
        }

    .logo--icon {
        width: 5.1875rem;
    }

    .logo--text {
        font-size: 2rem;
    }


    .navlist {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        flex-flow: row;
    }

    nav {
        flex-flow: row;
    }
    
    #toggle {
        display: none;
    }

    .hero {
        flex-flow: row-reverse;
    }

    nav {
        padding-top: 1rem;
    }
    .hero_info {
        width: 100%;
    }
    .hero_info--heading {
        font-size: 3.375rem;
    }

    .features__cards {
        flex-flow: row;
        justify-content: space-evenly;
    }

    .features__cards--card{
        margin: 0 3%;
    }

    .what_img_section--card img {
        width: 90%;
        margin: 0 auto;
    }

    .features__subheading , .what__subheading {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 3rem;
    }

    .what_img_section{
        justify-content: end;
    }

    .what_can_section {
        display: flex;
    }

    .what_can_section__img--bottom_Corner {
        right: 0%;
    }

    .what_can_section__info {
        width: 50%;
    }

    .what_can_section__img {
        width: 50%;
    }

    .what_can_section__img--img {
        width: 90%;
    }

    .what_can_section__info--head {
        margin-top: 0;
        font-size: 2.25rem;
    }

    .what_can_section__info--cir-big{
        top:2.5rem
    }
    .what_can_section__img--play_btn {
        width: 8%;
        left: 47%;
    }

    .our_features__main {
        display: flex;
        padding-top: 3rem;
    }

    .our_features__img_section {
        width: 50%;
    }

    .our_features--info {
        width: 50%;
    }

    .tools_main {
        display: flex;
        flex-flow: row-reverse;
    }

    .tools_img_section {
        width: 50%;
    }

    .tools--info {
        width: 50%;
    }

    .tools_img_section--img {
        width: 80%;
        margin: 0 10%;
    }

    .tools--info {
        padding-top: 5rem;
        padding-right: 7rem;
    }
    
    .tools--info--heading {
        padding-right: 7rem;
    }

    .quiz-main {
        flex-flow: row;
    }

    .quiz-info {
        padding-right: 10rem;
    }

    .width-100-img {
        width: 100%;
        margin:0;
    }

    .what_img_section {
        flex-flow: row ;
    }

    .platform {
        display: flex;
        padding-top: 3rem;
    }

    .platform-p {
        padding: 0;
        padding-bottom: 0;
    }
    .platform-img {
        width: 75%;
        margin-left: 5%;
    }

    .width-40 {
        width: 40%;
    }

    .width-60 {
        width: 60%;
    } 

    .platform-info {
        padding-left: 10%;
        padding-top: 0;
        padding-right: 1rem;
    }

    .platform-head {
        padding-right: 1rem;
    }

    .review-img {
        width: 60%;
    }

    .tcc-p {
        font-size: 1.375rem;
    }
    
    .user-rating span {
        font-size: 1.5rem;
    }

    .rating p {
        font-size: 1.125rem;
    }
    .user-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .testimonial_cards__card {
        left: 10.5%;
        top: -21rem;
        border-left: 14px solid #F77766;;
    }

    .testimonial-arrow {
        left: 60%;
    }
}
