.navitem {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0.02em;
    color: #252641;
}

.navitem:hover, .hero_info--btns-3:hover {
    color: #65daff;
    transition: 0.3s;
}

.btn {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0.02em;
}

.btn-login {
    background-color: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
    border-radius: 5rem;
    padding: 0.875rem 3.125rem;
    color: #6C6C6C;
}

.btn-login:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 15%);
    transition: 0.3s;
}

.btn-signup {
    color: #FFFFFF;
    background-color: #F48C06;
    border-radius: 80px;
    padding: 0.875rem 2.3125rem;
}

.btn-signup:hover, .hero_info--btns-1:hover, .what_img_section--btn:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 15%);
    transition: 0.3s;
}


 .navitem {
     font-weight: 400;
     font-size: 1.375rem;
     line-height: 2.0625rem;
     letter-spacing: 0.02em;
     color: #252641;
    padding: 2rem 0;
 }

 .navitem:hover {
     color: #65daff;
 }

.hero_info--btns {
    display: block;
    padding: 3rem 0;
}

.hero_info--btns .btn{
    margin-bottom: 4rem;

}

.hero_info--btns-1 {
    padding: 1rem 2rem;
    background-color: #F48C06;
    border-radius: 80px;
    font-size: 1.2rem;
    line-height: 2.25rem;    
    color: #FFFFFF;
}

.hero_info--btns-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #252641;
}

 .hero_info--heading {
     font-weight: 700;
     font-size: 3.125rem;
     line-height: 5.0625rem;
     margin-bottom: 2.125rem;
     color: #2f327d;

 }

 .hero_info--heading span {
     color: #F48C06;
 }

.brands__logo_item img:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 16%);
}


.features__heading{
    font-weight: 700;
    font-size: 2rem;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}

.features__heading span {
    color: #F48C06;
}

.features__subheading {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}

.what__heading {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}

.what__heading span, 
.what_can_section__info--head span, 
.our_features--heading span, 
.our_features--info--heading span, 
.tools--info--heading span {
    color: #F48C06;
}

.what__subheading {
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}

.what_can_section__info--head {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 160%;
    color: #2F327D;
    margin-bottom: 30px;
    text-align: center;
}

.what_can_section__info--p {
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.what_can_section__img--img:hover{
    box-shadow: 0px 20px 24px rgb(31 27 27 / 41%);
    transition: 0.3s;
}

.what_can_section__img--play_btn:hover {
    width: 9%;
    transition: 0.3s;
}

.our_features--heading {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}

.our_features--subheading {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}

.our_features--info--heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 160%;
    color: #2F327D;
    margin-bottom: 3rem;
    text-align: center;
}

.feat {
    display: flex;
    align-items: center;
}

.feat--icon {
    width: 7rem;
}

.feat--p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}

.tools--info--heading {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 160%;
    color: #2F327D;
}

.tools--info--p {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 180%;
    letter-spacing: 0.02em;

    color: #696984;
}

.platform-img {
    width: 80%;
    margin: 5rem 10%;
}

.platform-head {
    font-size: 2.25rem;
}

.platform-p {
    font-size: 1.5rem;
}

.heading-top {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
    color: #525596;
    padding-bottom: 33px;
}

.line-hr {
    padding-bottom: 0.5rem;
}

.testimonial-btn {
    padding-right: 0;
    border-right: none;
    font-size: 0.8rem;
}

.testimonial-btn span {
    border: 1px solid #F48C06;
    border-radius: 80px;
    padding: 1.1875rem 2.375rem;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
}

.testimonial-btn span:hover {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #F48C06;
    
}

.review-img {
    width: 60%;
    margin: 0 20%;
    border-radius: 20px;
}

.testimonial-arrow:hover {
    width: 10.5rem;
    transition: 0.3s;
}

.news_main {
    padding-bottom: 5rem;
}

.news_list--btn {
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #252641;
    background-color: #F4C467;
    border-radius: 80px;
    padding: 0 5px;
    position: absolute;
    bottom: 1.5rem;
    left: 3rem;
}

.news_list--info--heading {
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    color: #252641;
    margin-top: 0;

}

.news_list--info--p {
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 180%;
    letter-spacing: 0.02em;

    color: #696984;
}

.vline {
    /* padding: 75px 0.2rem 0 0.2rem; */
    color:#696984 ;
    color: #696984;
    padding: 0.2rem 1rem;
}