.navitem {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0.02em;
    color: #252641;
}

.navitem:hover, .hero_info--btns-3:hover {
    color: #65daff;
    transition: 0.3s;
}

.btn {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0.02em;
}

.btn-login {
    background-color: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
    border-radius: 5rem;
    padding: 0.875rem 3.125rem;
    color: #6C6C6C;
}

.btn-login:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 15%);
    transition: 0.3s;
}

.btn-signup {
    color: #FFFFFF;
    background-color: #F48C06;
    border-radius: 80px;
    padding: 0.875rem 2.3125rem;
}

.btn-signup:hover, .hero_info--btns-1:hover, .what_img_section--btn:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 15%);
    transition: 0.3s;
}


 .navitem {
     font-weight: 400;
     font-size: 1.375rem;
     line-height: 2.0625rem;
     letter-spacing: 0.02em;
     color: #252641;
    padding: 2rem 0;
 }

 .navitem:hover {
     color: #65daff;
 }

.hero_info--btns {
    display: block;
    padding: 3rem 0;
}

.hero_info--btns .btn{
    margin-bottom: 4rem;

}

.hero_info--btns-1 {
    padding: 1rem 2rem;
    background-color: #F48C06;
    border-radius: 80px;
    font-size: 1.2rem;
    line-height: 2.25rem;    
    color: #FFFFFF;
}

.hero_info--btns-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #252641;
}

 .hero_info--heading {
     font-weight: 700;
     font-size: 3.125rem;
     line-height: 5.0625rem;
     margin-bottom: 2.125rem;
     color: #2f327d;

 }

 .hero_info--heading span {
     color: #F48C06;
 }

.brands__logo_item img:hover {
    box-shadow: 0px 20px 24px rgb(80 57 57 / 16%);
}


.features__heading{
    font-weight: 700;
    font-size: 2rem;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}

.features__heading span {
    color: #F48C06;
}

.features__subheading {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}

.what__heading {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 180%;
    color: #2F327D;
    text-align: center;
}

.what__heading span {
    color: #F48C06;
}

.what__subheading {
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
}